<center>
	<div style="margin-top:100px;">
		<span id="landingLogo"><%= image_tag "wintercircle-white.png" %></span>
	</div>
	<br>
	<h1 style="color: #16b0ed; margin-bottom: 10px;">LOGIN</h1>	
</center>