<center>
	<span id="landingLogo"><%= image_tag "wintercircle.png" %></span>
	<h1 style="color: #16b0ed">LOGIN</h1>
	<form method="POST" action="http://YOUR_DOMAIN_HERE:81/login/login.php">
  E-mail: <input type="text" name="username"/><br/>
  <br>
  Password: <input type="password" name="password"/><br/>
  <div align="center">
    <p><input type="submit" value="Login" /></p>
  </div>
</form>
</form>
</center>