<h1>Welcome#mobile</h1>
<p>Find me in app/views/welcome/mobile.html.erb</p>
<form action="server.cgi" method="post" enctype="multipart/form-data">
  <input type="file" name="image" accept="image/*" capture>
  <input type="submit" value="Upload">
</form>