html, body {
	height: 100%;
	margin: 0;
	padding: 0;	
}
body {
	background-image: url('background.jpg');
	color: #fff;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -220px;
}
.push, footer {
	height: 220px
}
.footer {
	background-color: rgba(209,209,209,0.57);
}

p, ol, ul, td {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.content {
	padding: 20px;
}
.form-signin {
	text-align: center;
	margin-top: 35px;
	input[type="text"] {
		padding: 10px 12px;
		margin-right: 8px;
	}
	.btn {
		margin-top: -10px;
	}
}
footer {
	background-color: rgba(255,255,255,.4);
}
.footer-wrapper {
	margin: 0 auto;
	width: 615px;
	div {
		width: 150px;
		display: inline-block;
	}
}

