<h1>New activity</h1>

<%= render 'form' %>

<%= link_to 'Back', activities_path %>
<script>
if(localStorage.img) {

var span = document.createElement('span');
span.innerHTML += ['<img class="thumb" src="', localStorage.img,
                            '" title="test"/>'].join('');

document.getElementById('list').insertBefore(span, null);

}
</script>
